/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Das styling allgemein fuer die Buttons */
.button { 
   -fx-background-color: darkblue;  
   -fx-text-fill: #6400FF; 
   -fx-blend-mode: hard-light; /* Beschreibung unter: https://www.tutorialspoint.com/javafx/blend_effect.htm */
   -fx-border-width: 1.5px; 
   -fx-border-color: brown;
}

/* styling nur speziell fuer den Button mit der id first_button */
#first_button
{
   -fx-background-color: rgb(100,255,100) ; /* r,g,b , also gruen */	
   -fx-rotate: 60;
   -fx-effect: dropshadow(  gaussian , red , 100 , 0.3 , 20 , 20 );
}


#first_button:hover 
{ 
	-fx-translate-x: 20px;
	-fx-background-color: rgba(255,0,0,0.1) ; /* r,g,b, a a steht für alpha (zwischen 0 und 1) - die Durchlaessigkeit */
}

#first_button:pressed 
{ 
	-fx-rotate: 0;
}