	/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root
{
	-fx-font-family: monospace; 
	-fx-font: 22px Regular;
}

#normaltext { 
   -fx-font-family: monospace;
   -fx-font-size: 52px;
   -fx-font-weight: bold;
}


#fancytext
{
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
